Repository runatlantis/terraform-gce-atlantis, pull requests merged in 2023-12, with the labels that each got.

#132 feat: add option to attach a security policy to the default backend
  README.md
  examples/cloud-armor/README.md
  examples/cloud-armor/main.tf
  examples/cloud-armor/server-atlantis.yaml
  main.tf
  variables.tf
Labels: patch

#134 Minor fix in Cloud Armor README
  examples/cloud-armor/README.md
Labels: documentation

#135 Update README.md
  README.md
Labels: documentation

#138 Adding security policy variable for IAP backend
  README.md
  examples/cloud-armor/README.md
  examples/cloud-armor/main.tf
  main.tf
  variables.tf
Labels: minor

#130 feat: add option to enable confidential vm
  README.md
  main.tf
  variables.tf
Labels: major
