Repository runatlantis/terraform-gce-atlantis, pull requests merged in 2023-01, with the labels that each got.

#26 Allow the use of spot instances
  README.md
  main.tf
  variables.tf
Labels: enhancement

#27 Tune health check
  main.tf
Labels: bug

#37 Improve the documentation by adding a TOCs and an FAQ
  README.md
  examples/basic/README.md
  examples/complete/README.md
  examples/secured-env-vars/README.md
Labels: documentation

#42 use consistent var naming for existing bool vars
  README.md
  main.tf
  variables.tf
Labels: enhancement

#48 Update DNS docs
  examples/basic/README.md
  examples/complete/README.md
Labels: documentation

#49 Add `documentation` label to patch release
  .github/auto-release.yml
Labels: patch

#53 Add `versions.tf`
  README.md
  versions.tf
Labels: patch

#54 Use VM as an abbreviation
  README.md
Labels: patch

#68 Overall improvements (pre-commit, comments, json syntax, etc)
  .github/workflows/shellcheck.yml
  .pre-commit-config.yaml
  README.md
  main.tf
  startup-script.sh
  versions.tf
Labels: patch

#70 remove the terraform-google-modules/container-vm/google version constraint, hardpin a version
  main.tf
Labels: patch

#71 Add a `tags` variable
  README.md
  main.tf
  startup-script.sh
  variables.tf
Labels: minor

#72 rename resource identifiers to `default`
  README.md
  main.tf
  outputs.tf
Labels: major

#73 add newline in change template
  .github/auto-release.yml
Labels: patch

#74 Ported the startup script to a cloudinit config
  .github/workflows/shellcheck.yml
  .pre-commit-config.yaml
  README.md
  main.tf
  startup-script.sh
  versions.tf
Labels: patch, wip

#79 Document that we don't route nor redirect any HTTP requests
  README.md
Labels: documentation

#80 Introduce startup script var
  README.md
  main.tf
  variables.tf
Labels: minor

#81 Add cos image ID and managed SSL outputs
  README.md
  outputs.tf
Labels: patch

#82 Doc improvements
  README.md
  examples/basic/README.md
  examples/complete/README.md
  examples/secure-env-vars/README.md
  outputs.tf
Labels: documentation

#83 Rephrase "Example Usage' section
  README.md
Labels: documentation

#85 Pin the hashicorp/random provider
  README.md
  versions.tf
Labels: patch

#89 Fix module idempotency by setting sample_rate on backend service log_config
  main.tf
Labels: patch

#88 Use data source to retrieve health check IP ranges
  main.tf
Labels: patch
