Repository runatlantis/terraform-gce-atlantis, pull requests merged in 2023-03, with the labels that each got.

#106 examples: remove project from google_iap_client
  examples/iap_enabled/iap.tf
Labels: bug, minor

#97 feat: add labels for gcp resources
  main.tf
  variables.tf
Labels: major

#92 Add an ability to enable OS Login
  README.md
  main.tf
  variables.tf
Labels: major

#93 Enable secure boot
  main.tf
Labels: major

#108 Delete IAP example
  examples/iap_enabled/README.md
  examples/iap_enabled/iap.tf
  examples/iap_enabled/main.tf
  examples/iap_enabled/server-atlantis.yaml
Labels: documentation

#109 Breaking changes (OS Login, Secure Boot & Labels)
  README.md
  main.tf
  variables.tf
Labels: major

#112 Allow pinning vm's machine image, instead of always using latest …stable/cos_cloud
  README.md
  main.tf
  variables.tf
Labels: minor
